
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Gestão de Acessos</title>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
